* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif, Big John, Slim Joe;
  outline: none;
}

html {
    position: relative;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a, a:hover, a:active {
    text-decoration: none!important;
}

a {
    -webkit-transition: 100ms all 70ms;
    -moz-transition: 100ms all 70ms;
    -o-transition: 100ms all 70ms;
    transition: 100ms all 70ms;
}

h1, h2, h3, p {
    font-weight: 300;
}

b {
    font-weight: 500;
}

a:hover {
    color: #DB7B10;
    opacity: 0.8;
}

ul, ol {
    margin: 0;
}

.content {
    width: 60rem;
    margin: 0 auto;
}

.title h1 {
    margin: 20px;
    font-weight: 400;
    text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

/*** HEADER ***/

#header {
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url('../img/banner05_blur.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header .nav-up {
    top: -69px;
}

#header .navigation-sticky, #header .navigation {
    width: 100%;
    top: 0;
}

#header .navigation-sticky {
    display: none;
    top: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #DB7B10;
    box-shadow: 10px 0px 20px #000;
    transition: top 0.2s ease-in-out;
    z-index: 2000;
}

#header .navigation, #header .navigation-sticky {
    padding: 0.5rem 0;
}

#header .navigation .content, #header .navigation-sticky .content {
    width: 60rem;
    margin: 0 auto;
    padding: 0 20px;
    display: table;
}

#header .content .element.logo {
    width:1%;
}

#header .content .logo img {
    height: 3rem;
    margin: 0.3rem 0 0 0;
}

#header .content .element{
    display: table-cell;
    vertical-align: middle
}

#header .content nav .menu {
    text-align: right;
}

#header .content nav .menu li {
    display: inline-block;
    padding: 0 0;
    line-height: 1.5rem;
}

#header .content nav .menu li a {
	padding: 0 20px;
	height: 45px;
}

#header .navigation .content nav .menu li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}

#header .navigation-sticky .content nav .menu li a {
    color: #DB7B10;
    font-size: 1rem;
    font-weight: 300;
}

#header #banner {
    width: 100%;
    padding: 20px 0;
    display: table;
}

#header #banner .content {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background-color: rgba(0, 0, 0, 0.00);
}

#header #banner .content #profile-image {
    margin: 0 auto;
    width: 27%;
    border-radius: 50%;
    background-image: url('../img/profile+.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0.5rem 0.5rem 1rem #000;
    border: solid 0.15rem #DB7B10;
}

#header #banner .content #short-about {
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.2rem #000;
    font-weight: 300;
}

#header #banner .content #short-about h1 {
    margin-bottom: 0.3rem;
}

#header #banner .content #short-about h2 {
    font-size: 30px;
    font-weight: 300;
}


/*** ABOUT ***/

#about {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}

#about .content {
    display: inline;
    height: 100%;
    width: 60rem;
}

#about .content .bio-box {
    padding: 20px;
    width: 280px;
    height: 240px;
    text-align: center;
    display: inline-block;
    -webkit-transition: linear 0.25s; /* For Safari 3.1 to 6.0 */
    transition: linear 0.25s;
}

#about .content .bio-box:hover {
    background-color: #fcfcfc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#about .content .bio-box .bio-inner, #about .content .bio-box .bio-inner-hover {
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
}

#about .content .bio-box .bio-inner-hover {
    display: none;
}

#about .content .bio-box .bio-inner .bio-text, #about .content .bio-box .bio-inner-hover .bio-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#about .content .bio-box .bio-inner-hover .bio-text h1 {
    color: #DB7B10;
}

#about .content .bio-box .bio-inner .bio-text i.fa, #about .content .bio-box .bio-inner-hover .bio-text i.fa {
    font-size: 50px;
    margin: 20px 0;
}

#about .fa {
    color: rgba(219, 123, 16, 0.7);
}

#about .content .bio-box .bio-inner .bio-text h1, #about .content .bio-box .bio-inner .bio-text h3 {
    margin: 10px 0;
}


/*** MOTIVATION ***/

#motivation {
    width: 100%;
    height: 40rem;
    display: table;
    background-color: #212121;
}

#motivation .content {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

#motivation .content h1, #motivation .content p {
    font-family: Big John;
    font-size: 3.1rem;
    color: #212121;
    text-shadow: -2px -2px 0 white;
    /*text-shadow: 1px 4px 6px #DB7B10, 0 0 0 #000, 1px 4px 6px #DB7B10;*/
    /*color: #DB7B10;
    text-shadow: inset 0 0 -0.2rem #0f0f0f;*/
}

#motivation .content p {
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 white;
}

/*** PROJECT VIEW ***/

#project-view {
    position: fixed;
    overflow: scroll;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
}

.close {
    font-size: 50px;
    font-weight: 300;
    color: #000;
}

.project-view-title {
    color: #DB7B10;
    margin-top: 40px;
}

.project-view-title:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #DB7B10;
    margin-top: 15px;
}

#project-view img {
    float: right;
    margin: 0 0 20px 25px;
}


/*** PROJECTS ***/

#web, #design, #photography, #video {
    text-align: center;
    padding: 20px 0;
}

#photography, #web {
    background-color: #DB7B10;
}

#photography .title h1, #web .title h1 {
    color: white;
}

#web .content, #design .content, #photography .content, #video .content {
    display: inline;
    height: 100%;
    width: 60rem;
}

.project-container {
    padding: 20px;
}

.project-item {
    margin: 20px;
    width: 320px;
    height: 240px;
    text-align: center;
    display: inline-table;
}

.project-item:hover {
    cursor: pointer;
}

.project-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: inline-grid;
}

.overlay {
    width: 320px;
    height: 240px;
    display: inline-table;
    background-color: rgba(0, 0, 0, 0.7);
    vertical-align: middle;
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.project-item .hover-mask {
    color: #fff;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    padding: 10px;
}

.project-item .hover-mask p.project-description {
    display: none;
}

.project-item .hover-mask h2:after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #fff;
    margin: 0.5rem auto;
}

.project-item:hover .overlay {
    opacity: 1;
}


/*** CONATACT ***/

#contact {
    padding-bottom: 20px;
}


/*** FOOTER ***/

#footer {
    text-align: center;
    background-color: #DB7B10;
}

#social li{
    display: inline-block;
    padding: 0 0;
    margin: 15px 15px;
    line-height: 1rem;
    font-size: 35px;
    color: gray;
}

#social li a {
    color: #eee;
}

#social a:hover {
    color: #fff;
    opacity: 1;
}


/*** TIMELINE ***/

#timeline .content #timeline-container {
    width: 663px;
    height: 1061px;
}

#vs {
    transform-origin: 265,744px 130,718px;
}

#vs-badge {
    transform-origin: 138,497px 130,718px;
}

#vs-title {
    transform-origin: 103,792px 49,7236px;
}

#vs-details {
    transform-origin: 143,134px 136,653px;
}